/* ===== HERO ===== */
.hero {
  background: linear-gradient(135deg, #111827, #1f2937);
  color: #f7f2f2;
}

/* ===== BORDES ===== */
.border-dashed {
  border: 2px dashed #073f85 !important;
}

/* ===== SEPARADOR FULL WIDTH ===== */
.separador-full {
  width: 100vw;
  height: 6px;
  background: linear-gradient(to right, #0d6efd, #20c997);
  margin: 40px 0;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ===== CARRUSEL ===== */
/* IMPORTANTE: esto va al final para que sobreescriba Bootstrap */

.carousel-item {
  background: linear-gradient(135deg, #111827, #1f2937);
  text-align: center;
}

.carousel-item img {
  height: 300px;        /* ajusta tamaño aquí */
  object-fit: contain;  /* evita deformación */
}

/* ===== OPCIONAL: HACERLO MÁS PEQUEÑO EN CELULAR ===== */
@media (max-width: 768px) {
  .carousel-item img {
    height: 200px;
  }
}